<launch>

<!-- CONVERT PCD FILE INTO MESH AND VTK FILE -->
<arg name="pcd_filepath" default="/home/andrea/ros_workspace/src/coop_pcl/data/pcd/plane_projected.pcd"/>			
<arg name="stl_filepath" default="/home/andrea/ros_workspace/src/coop_pcl/data/vtk/mesh_projected_filt.stl"/> 
<node name="tri_mesh" pkg="coop_pcl" type="greedy_projection" output="screen" args="$(arg pcd_filepath) $(arg stl_filepath)"/> 

</launch>
