<launch>

<!-- SET UP STATIC TRANSFORMS -->
<arg name="pi/2" value="1.5707963267948966" />
<arg name="optical_rotate" value="0 0 0.3 0 0.5 0" />
<node pkg="tf" type="static_transform_publisher" name="map" args="$(arg optical_rotate) map usb_cam 100" /> 

<node name="projection" pkg="coop_pcl" type="project_inliers" output="screen" /> 

<!-- RUN RVIZ -->
<node name="rviz" pkg="rviz" type="rviz" />

</launch>
